
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        You can found your contacts faster (<b>From Index View</b>) 
    </div>
</body>
</html>
