@model FirstWeekProject.Data.Models.Contact

<form action="/Contact/Create" method="post">
    
    <div class="form-horizontal">
        <h4>Contact</h4>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2" for="Name">Name</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Name" name="Name" type="text" required value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="LastName">LastName</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="LastName" name="LastName" type="text" required value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="EmailAddress">EmailAddress</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="EmailAddress" name="EmailAddress" type="text" required value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Phone">Phone</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="Phone" name="Phone" type="text" required value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>

    </form>

