<div class="row" ng-init="init()">

    <form ng-submit="onSave()">
        <div class="form-horizontal">
            <h4>Contact</h4>
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2" for="Name">Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" ng-model="contact.Name" id="Name" name="Name" type="text" placeholder="Enter name here" required value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="LastName">Last Name</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" ng-model="contact.LastName" id="LastName" name="LastName" type="text" placeholder="Enter last name here" required value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="EmailAddress">Email Address</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" ng-model="contact.EmailAddress" id="EmailAddress" name="EmailAddress" type="email" placeholder="Enter email address here" required value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" for="Phone">Phone</label>
                <div class="col-md-10">
                    <input class="form-control text-box single-line" ng-model="contact.Phone" id="Phone" name="Phone" type="tel" pattern="[+]370\d{8}|86\d{7}" placeholder="Enter phone number here" required value="" />
                    <span class="field-validation-valid text-danger" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Save">
                </div>
            </div>

        </div>

        </form>
</div>