<div class="row">
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in contacts"> 
            <td>{{x.Name}}</td>
            <td>{{x.LastName}}</td>
            <td>{{x.EmailAddress}}</td>
            <td>{{x.Phone}}</td>
            <td><a href="\contacts\{{x.Id}}">Edit</a>&nbsp;<a ng-click="onDelete(x, $index)"class="pointer">Delete</a></td>
            </tr>
            </tbody>
    </table>
</div>  