<h2>Log in.</h2>
<div class="row">
   
    <div class="col-md-4">
        <section id="socialLoginForm">

            <h4>Use another service to log in.</h4>
            <hr>
           
                <div id="socialLoginList">
                    <p>
                        
                        <button type="button"  ng-click="login()" class="btn btn-default"  name="provider" title="title="Log in using your Facebook account">Facebook</button>

                    </p>
                </div>

        </section>
    </div>
</div>



